
body{
	background-color: rgba(248, 249, 250);
}
.carousel-caption {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	bottom: 30%;

}

/* This puts extra space between the circle placeholders and the carousel */
.col-lg-4 {
	margin-top: 50px;
	text-align: center;
}

@font-face {
    font-family: 'casanova_scotiaregular';
    src: url('casanova_scotia-webfont.woff2') format('woff2'),
         url('casanova_scotia-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
	font-size: 75px;
	letter-spacing: 5px;
}